.container {
    margin:auto;
    width:1200px;

}

.main {
    text-align: center;
    
}

.link-button {
    background-color: transparent;
    border:0px;
    cursor: pointer;
}

.link-button:hover {
text-decoration: underline;
}

button {
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    min-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: #333;
    color: white;

}

.pagination button {
    margin:5px;
}

.pages-text {
    padding-right:5px;
}

.current-page {
    font-weight:bold;
    display: inline-block;
    width:35px;
}


.navbar {
    overflow: hidden;
    margin-bottom:20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    float: left;
    padding:0px 10px 0px 10px
}

.nav-links li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.nav-links li a:hover {
    color: black;
}