.search-result {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  
  .word-result {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size:2rem;
  }
  
  .root-result-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Adjust to start the content at the top */
    padding: 10px;
  }
  
  .root-result {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
  }
  
  .hw-result, .sg-result {
    margin-top: 10px;
  }
  